{% extends 'base.html' %}
{% load extra_tags %}

{% block title %} CountryHub {% endblock %}
{% block additional_styles %}
<style>
div {
    width: 50%;
    padding: 10px;
   }
</style>
{% endblock %}

{% block body %}
<div class="d-flex justify-content-center">
    <div>
        <ul class="list-group">
            {% for country in countries %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="/country/{{ country.id }}/">{{country.name}}</a>
                <span class="badge badge-primary badge-pill">{{country.cities_count}}</span>
            </li>
             <li class="list-group-item d-flex justify-content-between align-items-center">
                <p>{{country.description|short_line:150}}</p>
            </li>
            {% endfor %}
        </ul>
        <a href="{%url 'logout'%}">
            <button type="button" class="btn btn-light">Logout</button>
        </a>
    </div>
</div>
{% endblock %}